body {
  box-sizing: border-box;
  margin: 0em;
  user-select: none;
  padding: 0em 0em;
  background-repeat: no-repeat;
  object-fit: contain;
  height: 100%;
}

.bg-img {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  max-height: max-content;
  position: relative;
  display: block;
  object-fit: cover;
}

.main-container {
  position: absolute;
  top: 0em;
  left: 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.btn {
  color: red;
  background-color: black;
  font-size: 1.75rem;
  font-weight: 800;
  height: 2.5em;
  border: none;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  cursor: pointer;
}

.new-deck-btn {
  margin-top: .5em;
}

.cards-container {
  max-height: 90vh;
}

.draw-new-btn {
  margin-bottom: .5em;
}