body {
  box-sizing: border-box;
  margin: 0em;
  user-select: none;
  padding: 0em 0em;
  background-color: black;
  background-color: rgba(61, 6, 6, 0.998);
  background-repeat: no-repeat;
  object-fit: contain;
  height: 100%;
  color: red;
}

.bg-img {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  max-height: max-content;
  position: relative;
  display: block;
  object-fit: cover;
  opacity: 70%;
}

.main-container {
  position: absolute;
  top: 0em;
  left: 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.btn {
  color: red;
  background-color: black;
  font-size: 1.75rem;
  font-weight: 800;
  height: 2.5em;
  border: none;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn:hover {
  box-shadow: 1px 2px 15px red;
}

.new-deck-btn {
  margin-top: .5em;
}

.game-title {
  color: black;
  font-size: 2.5rem;
  font-family: 'Geostar Fill', cursive;
  margin: 0em;
  align-self: center;
  text-shadow: 0px 0px 3px red, 0px 0px 8px goldenrod;
}

.cards-container {
  max-height: 90vh;
}

.comp-score {
  text-align: end;
  padding-right: 3em;
}

.draw-new-btn {
  margin-bottom: .5em;
}

.card-img {
  height: 300px;
  width: 200px;
}

.score {
  margin: 0em;
  text-shadow: 5px 5px 8px black;
  color: goldenrod;
  font-size: 1.5rem;
  text-align: center;
}

.top-card,
.bottom-card {
  border: 2px solid red;
  height: 300px;
  width: 200px;
  border-radius: 5%;
  box-shadow: 4px 4px 7px black;
  margin-left: auto;
  margin-right: auto;
}

.cards-remaining {
  border-color: red;
  margin: .25em auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.489);
  color: black;
  background-color: red;
}

.new-deck {
  color: goldenrod !important;
}

.player-score {
  padding-left: 3em;
}

button:disabled {
  cursor: not-allowed;
}